In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
pattern=pd.read_csv("/kaggle/input/chart-pattern/SampleDataGT.csv")
pattern

,Unnamed: 0,start,end,pattern
0,0,2020-01-08 10:50:00,2020-01-08 13:00:00,Reverse Head and shoulders
1,1,2020-01-09 10:40:00,2020-01-09 12:45:00,Head and shoulders
2,2,2020-01-15 12:45:00,2020-01-15 14:50:00,Head and shoulders
3,3,2020-01-16 11:00:00,2020-01-16 13:10:00,Reverse Head and shoulders
4,4,2020-01-20 12:05:00,2020-01-20 13:55:00,Head and shoulders
...,...,...,...,...
85,85,2021-02-09 12:50:00,2021-02-09 14:40:00,Head and shoulders
86,86,2021-02-10 12:20:00,2021-02-10 13:45:00,Double Bottom
87,87,2021-02-11 11:00:00,2021-02-11 12:50:00,Reverse Head and shoulders
88,88,2021-02-18 11:10:00,2021-02-18 13:20:00,Reverse Head and shoulders
89,89,2021-02-24 11:55:00,2021-02-24 13:10:00,Double Bottom

In [3]:
original_data=pd.read_csv("/kaggle/input/chart-pattern/SampleData.csv")
original_data

,Unnamed: 0,open,close,high,low,date
0,0,1032.144200,1032.246108,1038.520819,1025.869489,2020-01-02 09:00:00
1,1,1032.246108,1032.417499,1040.101487,1024.562120,2020-01-02 09:05:00
2,2,1032.417499,1032.375497,1040.023616,1024.769380,2020-01-02 09:10:00
3,3,1032.375497,1032.398605,1033.532570,1031.241532,2020-01-02 09:15:00
4,4,1032.398605,1032.482789,1037.506628,1027.374766,2020-01-02 09:20:00
...,...,...,...,...,...,...
21581,67,1672.852023,1678.324194,1681.038031,1670.138186,2021-02-24 14:35:00
21582,68,1678.324194,1677.952490,1687.895346,1668.381338,2021-02-24 14:40:00
21583,69,1677.952490,1676.963826,1689.028256,1665.888061,2021-02-24 14:45:00
21584,70,1676.963826,1679.059744,1688.330764,1667.692807,2021-02-24 14:50:00
21585,71,1679.059744,1685.062412,1695.667444,1668.454713,2021-02-24 14:55:00

## Converting Date and Time Column

In [4]:
pattern['start'] = pd.to_datetime(pattern['start'], format='%Y-%m-%d %H:%M:%S')
pattern['end'] = pd.to_datetime(pattern['end'], format='%Y-%m-%d %H:%M:%S')

original_data['date'] = pd.to_datetime(original_data['date'])

In [5]:
pattern['start'] = pd.to_datetime(pattern['start'], format='%Y-%m-%d %H:%M:%S')
pattern['end'] = pd.to_datetime(pattern['end'], format='%Y-%m-%d %H:%M:%S')

for index, row in pattern.iterrows():
    mask = (original_data['date'] >= row['start']) & (original_data['date'] <= row['end'])
    original_data.loc[mask, 'pattern'] = row['pattern']

print(original_data)

       Unnamed: 0         open        close         high          low  \
0               0  1032.144200  1032.246108  1038.520819  1025.869489
1               1  1032.246108  1032.417499  1040.101487  1024.562120
2               2  1032.417499  1032.375497  1040.023616  1024.769380
3               3  1032.375497  1032.398605  1033.532570  1031.241532
4               4  1032.398605  1032.482789  1037.506628  1027.374766
...           ...          ...          ...          ...          ...
21581          67  1672.852023  1678.324194  1681.038031  1670.138186
21582          68  1678.324194  1677.952490  1687.895346  1668.381338
21583          69  1677.952490  1676.963826  1689.028256  1665.888061
21584          70  1676.963826  1679.059744  1688.330764  1667.692807
21585          71  1679.059744  1685.062412  1695.667444  1668.454713

                     date pattern
0     2020-01-02 09:00:00     NaN
1     2020-01-02 09:05:00     NaN
2     2020-01-02 09:10:00     NaN
3     2020-01-02 09:15:00     NaN
4     2020-01-02 09:20:00     NaN
...                   ...     ...
21581 2021-02-24 14:35:00     NaN
21582 2021-02-24 14:40:00     NaN
21583 2021-02-24 14:45:00     NaN
21584 2021-02-24 14:50:00     NaN
21585 2021-02-24 14:55:00     NaN

[21586 rows x 7 columns]

In [6]:
# original_data.to_csv('labeled_data.csv', index=False)

In [7]:
pattern_2=pd.read_csv("/kaggle/input/chart-pattern/SampleData2GT.csv")
original_data_2=pd.read_csv("/kaggle/input/chart-pattern/SampleData2.csv")
pattern_2['start'] = pd.to_datetime(pattern_2['start'], format='%Y-%m-%d %H:%M:%S')
pattern_2['end'] = pd.to_datetime(pattern_2['end'], format='%Y-%m-%d %H:%M:%S')
original_data_2['date'] = pd.to_datetime(original_data_2['date'])
pattern_2['start'] = pd.to_datetime(pattern_2['start'], format='%Y-%m-%d %H:%M:%S')
pattern_2['end'] = pd.to_datetime(pattern_2['end'], format='%Y-%m-%d %H:%M:%S')
for index, row in pattern_2.iterrows():
    mask = (original_data_2['date'] >= row['start']) & (original_data_2['date'] <= row['end'])
    original_data_2.loc[mask, 'pattern'] = row['pattern']
# original_data_2.to_csv('labeled_data_2.csv', index=False)

In [8]:
pattern_3=pd.read_csv("/kaggle/input/chart-pattern/SampleData3GT.csv")
original_data_3=pd.read_csv("/kaggle/input/chart-pattern/SampleData3.csv")
pattern_3['start'] = pd.to_datetime(pattern_3['start'], format='%Y-%m-%d %H:%M:%S')
pattern_3['end'] = pd.to_datetime(pattern_3['end'], format='%Y-%m-%d %H:%M:%S')
original_data_3['date'] = pd.to_datetime(original_data_3['date'])
pattern_3['start'] = pd.to_datetime(pattern_3['start'], format='%Y-%m-%d %H:%M:%S')
pattern_3['end'] = pd.to_datetime(pattern_3['end'], format='%Y-%m-%d %H:%M:%S')
for index, row in pattern_3.iterrows():
    mask = (original_data_3['date'] >= row['start']) & (original_data_3['date'] <= row['end'])
    original_data_3.loc[mask, 'pattern'] = row['pattern']
# original_data_3.to_csv('labeled_data_3.csv', index=False)

In [9]:
pattern_4=pd.read_csv("/kaggle/input/chart-pattern/SampleData4GT.csv")
original_data_4=pd.read_csv("/kaggle/input/chart-pattern/SampleData4.csv")
pattern_4['start'] = pd.to_datetime(pattern_4['start'], format='%Y-%m-%d %H:%M:%S')
pattern_4['end'] = pd.to_datetime(pattern_4['end'], format='%Y-%m-%d %H:%M:%S')
original_data_4['date'] = pd.to_datetime(original_data_4['date'])
pattern_4['start'] = pd.to_datetime(pattern_4['start'], format='%Y-%m-%d %H:%M:%S')
pattern_4['end'] = pd.to_datetime(pattern_4['end'], format='%Y-%m-%d %H:%M:%S')
for index, row in pattern_4.iterrows():
    mask = (original_data_4['date'] >= row['start']) & (original_data_4['date'] <= row['end'])
    original_data_4.loc[mask, 'pattern'] = row['pattern']
# original_data_4.to_csv('labeled_data_4.csv', index=False)

## Creating Training Dataset

In [10]:
import pandas as pd

file_paths = ["/kaggle/input/shaped-data/labeled_data.csv", "/kaggle/input/shaped-data/labeled_data_2.csv", "/kaggle/input/shaped-data/labeled_data_3.csv"]

dfs = []

for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)

combined_df = pd.concat(dfs, axis=0)
print(combined_df)
combined_df.to_csv("combined.csv", index=False)

       Unnamed: 0         open        close         high          low  \
0               0  1032.144200  1032.246108  1038.520819  1025.869489
1               1  1032.246108  1032.417499  1040.101487  1024.562120
2               2  1032.417499  1032.375497  1040.023616  1024.769380
3               3  1032.375497  1032.398605  1033.532570  1031.241532
4               4  1032.398605  1032.482789  1037.506628  1027.374766
...           ...          ...          ...          ...          ...
43178          67   943.623917   943.125486   944.763661   941.985742
43179          68   943.125486   943.640331   945.093625   941.672192
43180          69   943.640331   943.328025   945.433484   941.534873
43181          70   943.328025   944.004110   944.949081   942.383054
43182          71   944.004110   944.387213   944.869933   943.521391

                      date pattern
0      2020-01-02 09:00:00     NaN
1      2020-01-02 09:05:00     NaN
2      2020-01-02 09:10:00     NaN
3      2020-01-02 09:15:00     NaN
4      2020-01-02 09:20:00     NaN
...                    ...     ...
43178  2022-04-20 14:35:00     NaN
43179  2022-04-20 14:40:00     NaN
43180  2022-04-20 14:45:00     NaN
43181  2022-04-20 14:50:00     NaN
43182  2022-04-20 14:55:00     NaN

[136736 rows x 7 columns]

## Labelling Training Dataset

In [11]:
combined_df = pd.read_csv("/kaggle/input/training-data/combined.csv")

new_label_mapping = {
    "Reverse Head and shoulders":1,
    "Head and shoulders": 2,
    "Double Top": 3,
    "Double Bottom": 4,
    np.nan: 0  
}

combined_df['pattern'] = combined_df['pattern'].map(new_label_mapping)
print(combined_df)
combined_df.to_csv("combined_updated.csv", index=False)

        Unnamed: 0         open        close         high          low  \
0                0  1032.144200  1032.246108  1038.520819  1025.869489
1                1  1032.246108  1032.417499  1040.101487  1024.562120
2                2  1032.417499  1032.375497  1040.023616  1024.769380
3                3  1032.375497  1032.398605  1033.532570  1031.241532
4                4  1032.398605  1032.482789  1037.506628  1027.374766
...            ...          ...          ...          ...          ...
136731          67   943.623917   943.125486   944.763661   941.985742
136732          68   943.125486   943.640331   945.093625   941.672192
136733          69   943.640331   943.328025   945.433484   941.534873
136734          70   943.328025   944.004110   944.949081   942.383054
136735          71   944.004110   944.387213   944.869933   943.521391

                       date  pattern
0       2020-01-02 09:00:00        0
1       2020-01-02 09:05:00        0
2       2020-01-02 09:10:00        0
3       2020-01-02 09:15:00        0
4       2020-01-02 09:20:00        0
...                     ...      ...
136731  2022-04-20 14:35:00        0
136732  2022-04-20 14:40:00        0
136733  2022-04-20 14:45:00        0
136734  2022-04-20 14:50:00        0
136735  2022-04-20 14:55:00        0

[136736 rows x 7 columns]

## Labelling Test Dataset

In [12]:
combined_df = pd.read_csv("/kaggle/input/shaped-data/labeled_data_4.csv")

new_label_mapping = {
    "Reverse Head and shoulders": 1,
    "Head and shoulders": 2,
    "Double Top": 3,
    "Double Bottom": 4,
    np.nan: 0  
}

combined_df['pattern'] = combined_df['pattern'].map(new_label_mapping)
print(combined_df)
combined_df.to_csv("combined_updated_test.csv", index=False)

       Unnamed: 0         open        close         high          low  \
0               0  1342.100000  1345.085221  1348.659736  1338.525485
1               1  1345.085221  1348.165442  1349.693272  1343.557391
2               2  1348.165442  1348.964998  1358.769402  1338.361038
3               3  1348.964998  1351.860000  1359.948187  1340.876811
4               4  1351.860000  1351.072686  1354.970295  1347.962392
...           ...          ...          ...          ...          ...
43173          67   202.108174   200.319846   202.176470   200.251551
43174          68   200.319846   204.116677   205.527602   198.908921
43175          69   204.116677   203.767022   204.903897   202.979802
43176          70   203.767022   205.382824   206.704079   202.445767
43177          71   205.382824   205.993614   206.627696   204.748742

                      date  pattern
0      2020-01-02 09:00:00        0
1      2020-01-02 09:05:00        0
2      2020-01-02 09:10:00        0
3      2020-01-02 09:15:00        0
4      2020-01-02 09:20:00        0
...                    ...      ...
43173  2022-04-20 14:35:00        0
43174  2022-04-20 14:40:00        0
43175  2022-04-20 14:45:00        0
43176  2022-04-20 14:50:00        0
43177  2022-04-20 14:55:00        0

[43178 rows x 7 columns]

## Creating Difference Dataset

In [13]:
import pandas as pd

df = pd.read_csv("/kaggle/working/combined_updated.csv")

df['open_diff'] = df['open'] - df['open'].shift(1)
df['close_diff'] = df['close'] - df['close'].shift(1)
df['high_diff'] = df['high'] - df['high'].shift(1)
df['low_diff'] = df['low'] - df['low'].shift(1)
df.drop(columns=['open', 'close', 'high', 'low'], inplace=True)

print(df)
df.to_csv("difference_data.csv", index=False)

        Unnamed: 0                 date  pattern  open_diff  close_diff  \
0                0  2020-01-02 09:00:00        0        NaN         NaN
1                1  2020-01-02 09:05:00        0   0.101908    0.171391
2                2  2020-01-02 09:10:00        0   0.171391   -0.042001
3                3  2020-01-02 09:15:00        0  -0.042001    0.023107
4                4  2020-01-02 09:20:00        0   0.023107    0.084184
...            ...                  ...      ...        ...         ...
136731          67  2022-04-20 14:35:00        0   3.177701   -0.498432
136732          68  2022-04-20 14:40:00        0  -0.498432    0.514845
136733          69  2022-04-20 14:45:00        0   0.514845   -0.312306
136734          70  2022-04-20 14:50:00        0  -0.312306    0.676085
136735          71  2022-04-20 14:55:00        0   0.676085    0.383103

        high_diff  low_diff
0             NaN       NaN
1        1.580668 -1.307370
2       -0.077871  0.207260
3       -6.491046  6.472152
4        3.974058 -3.866766
...           ...       ...
136731  -0.361535  3.040805
136732   0.329964 -0.313551
136733   0.339858 -0.137319
136734  -0.484402  0.848181
136735  -0.079149  1.138337

[136736 rows x 7 columns]

In [14]:
import pandas as pd

df = pd.read_csv("/kaggle/working/combined_updated_test.csv")

df['open_diff'] = df['open'] - df['open'].shift(1)
df['close_diff'] = df['close'] - df['close'].shift(1)
df['high_diff'] = df['high'] - df['high'].shift(1)
df['low_diff'] = df['low'] - df['low'].shift(1)
df.drop(columns=['open', 'close', 'high', 'low'], inplace=True)

print(df)
df.to_csv("difference_data_test.csv", index=False)

       Unnamed: 0                 date  pattern  open_diff  close_diff  \
0               0  2020-01-02 09:00:00        0        NaN         NaN
1               1  2020-01-02 09:05:00        0   2.985221    3.080222
2               2  2020-01-02 09:10:00        0   3.080222    0.799555
3               3  2020-01-02 09:15:00        0   0.799555    2.895002
4               4  2020-01-02 09:20:00        0   2.895002   -0.787314
...           ...                  ...      ...        ...         ...
43173          67  2022-04-20 14:35:00        0   1.637525   -1.788328
43174          68  2022-04-20 14:40:00        0  -1.788328    3.796831
43175          69  2022-04-20 14:45:00        0   3.796831   -0.349656
43176          70  2022-04-20 14:50:00        0  -0.349656    1.615803
43177          71  2022-04-20 14:55:00        0   1.615803    0.610789

       high_diff  low_diff
0            NaN       NaN
1       1.033536  5.031906
2       9.076130 -5.196354
3       1.178784  2.515773
4      -4.977892  7.085581
...          ...       ...
43173  -0.486379  0.335577
43174   3.351133 -1.342629
43175  -0.623705  4.070880
43176   1.800182 -0.534035
43177  -0.076383  2.302975

[43178 rows x 7 columns]

## Labelling Difference Dataset

In [15]:
combined_df = pd.read_csv("/kaggle/working/difference_data.csv")

new_label_mapping = {
    "Reverse Head and shoulders": 1,
    "Head and shoulders": 2,
    "Double Top": 3,
    "Double Bottom": 4,
    np.nan: 0  
}

combined_df['pattern'] = combined_df['pattern'].map(new_label_mapping)
print(combined_df)
combined_df.to_csv("differenced_train.csv", index=False)

        Unnamed: 0                 date  pattern  open_diff  close_diff  \
0                0  2020-01-02 09:00:00      NaN        NaN         NaN
1                1  2020-01-02 09:05:00      NaN   0.101908    0.171391
2                2  2020-01-02 09:10:00      NaN   0.171391   -0.042001
3                3  2020-01-02 09:15:00      NaN  -0.042001    0.023107
4                4  2020-01-02 09:20:00      NaN   0.023107    0.084184
...            ...                  ...      ...        ...         ...
136731          67  2022-04-20 14:35:00      NaN   3.177701   -0.498432
136732          68  2022-04-20 14:40:00      NaN  -0.498432    0.514845
136733          69  2022-04-20 14:45:00      NaN   0.514845   -0.312306
136734          70  2022-04-20 14:50:00      NaN  -0.312306    0.676085
136735          71  2022-04-20 14:55:00      NaN   0.676085    0.383103

        high_diff  low_diff
0             NaN       NaN
1        1.580668 -1.307370
2       -0.077871  0.207260
3       -6.491046  6.472152
4        3.974058 -3.866766
...           ...       ...
136731  -0.361535  3.040805
136732   0.329964 -0.313551
136733   0.339858 -0.137319
136734  -0.484402  0.848181
136735  -0.079149  1.138337

[136736 rows x 7 columns]